.tdcolinvoiceno
{
 color: #53A9FA;
 font-weight: bold;
}
.lblstatusunpaid
{
    color:rgb(242,88,89);
    font-weight: 500;
    background-color: rgb(253,235,235);
    padding:5px 10px 5px 10px;
    border-radius: 10px;
}
.lblstatuspending
{
    color:rgb(244,198,69);
    font-weight: 500;
    background-color: rgb(254,248,232);
    padding:5px 10px 5px 10px;
    border-radius: 10px;
}
.lblstatuspaid
{
    color:rgb(102,205,101);
    font-weight: 500;
    background-color: rgb(235,249,235);
    padding:5px 22px 5px 22px;
    border-radius: 10px;   
}